In [1]:
text = 'John likes to watch moives. Mary likes movies too.\
    Mary also likes to watch football games.'

words = text.replace('.', '').split()
words

['John',
 'likes',
 'to',
 'watch',
 'moives',
 'Mary',
 'likes',
 'movies',
 'too',
 'Mary',
 'also',
 'likes',
 'to',
 'watch',
 'football',
 'games']

In [ ]:
# 리스트에서 유일한 값의 개수를 셈
import numpy as np

word_count = np.unique(words, return_counts=True)
word_count

(array(['John', 'Mary', 'also', 'football', 'games', 'likes', 'moives',
        'movies', 'to', 'too', 'watch'], dtype='<U8'),
 array([1, 2, 1, 1, 1, 3, 1, 1, 2, 1, 2]))

In [ ]:
# 딕셔너리 TF 생성
word_to_cnt = {}

for word, cnt in zip (*word_count):
    word_to_cnt[word] = cnt
    
word_to_cnt

{'John': 1,
 'Mary': 2,
 'also': 1,
 'football': 1,
 'games': 1,
 'likes': 3,
 'moives': 1,
 'movies': 1,
 'to': 2,
 'too': 1,
 'watch': 2}

In [4]:
word_to_cnt['movies']

1

In [9]:
corpus = ['John likes to watch moives. Mary likes movies too.\
    Mary also likes to watch football games.']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer()
dtm_array = vector.fit_transform(corpus).toarray()
dtm_array

array([[1, 1, 1, 1, 3, 2, 1, 1, 2, 1, 2]])